.cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
}

.card {
  flex: 1 1 calc(33.33% - var(--space-3));
  background-color: var(--color-white);
  border: 1px solid var(--color-neutral);
  padding: var(--space-2);
  border-radius: 8px;
}


main img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

figure img {
  max-height: 400px;
  object-fit: cover;
}
