.cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
}

.card {
  flex: 1 1 calc(33.33% - var(--space-3));
  background-color: var(--color-white);
  border: 1px solid var(--color-neutral);
  padding: var(--space-2);
  border-radius: 8px;
}

@media (max-width: 991px) { /* Usamos max-width para pegar telas de até 991px */
  .card {
    /* (50% - espaçamento) */
    flex: 1 1 calc(50% - var(--space-3)); 
  }
}

@media (max-width: 479px) { /* Usamos max-width para pegar telas de até 479px */
  .card {
    /* 100% da largura, garantindo uma coluna */
    flex: 1 1 100%; 
  }
}

main img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

figure img {
  max-height: 400px;
  object-fit: cover;
}
